<div class="row justify-content-center">
  <form class="login-form mt-5 w-75">
    <div class="row mb-3">
      <label for="inputEmail3" id="email-login-label" class="col-sm-2 col-form-label"><h2>Email:</h2></label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email-login" />
      </div>
    </div>
    <div class="row mb-3">
      <label id="password-login-label"
        for="inputPassword3"
        class="col-sm-2 col-form-label"
      ><h2>Password:</h2></label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password-login" />
      </div>
    </div>
    <div class="col text-center">
      <button type="submit" class="login-form btn btn-primary justify-content-center btn-dark">Sign
        In</button>
    </div>
  </form>
</div>

<div class="col text-center">
  <button type="submit" class="login-form btn btn-primary justify-content-center btn-dark">
    <a href="/signup">
      Sign Up
    </a>
  </button>
</div>
{{!-- <script src="./js/login.js"></script> --}}